.news-container {
    padding: 5px;
    margin-top: -40px;

}

.news-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.news-tile {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.news-tile:hover {
    transform: scale(1.05);
}

.news-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
}


.news-title{
    font-size: 1.2rem; 
    margin: 10px;
    color: hsl(0, 0%, 89%);
    cursor: default;
    text-decoration: none;
} 

.news-description {
    font-size: 1.0rem; 
    margin: 10px;
    color: hsl(0, 0%, 89%);
    cursor: default;
    text-decoration: none;
}

.news-tile {
    text-decoration: none;
    color: inherit;
}

.news-tile:hover .news-title,
.news-tile:hover .news-description {
    color: hsl(0, 0%, 75%);
}

@media (max-width: 1200px) {
    .news-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .news-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .news-container {
        margin-left: -15px;
        margin-right: -15px;
    }
}

@media (max-width: 600px) {
    .news-grid {
        grid-template-columns: 1fr;
    }
    
    .news-container {
        margin-left: -15px;
        margin-right: -15px;
    }

}


@media (max-width: 600px) {

    .news-container {
        margin-left: -15px;
        margin-right: -15px;
    }

}