.teams-section {
    padding: 20px;
    margin-top: 40px;
}

.teams-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
}

.team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid hsl(0, 0%, 25%);
    border-radius: 8px;
    padding: 10px;
}

.team-card img {
    max-width: 100%;
    height: auto;
}

.team-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px #87878733;
}

@media (max-width: 768px) {
    .teams-grid {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }

    .team-card h2 {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .teams-grid {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }

    .team-card h2 {
        font-size: 14px;
    }
}
